{% extends 'base.html' %}
{% load static %}
{% block sylesheets %}
    <link rel="stylesheet" href="{% static 'styles/city_profile.css' %}">
{% endblock %}
{% block scripts %}
    <!-- <script src="{% static 'scripts/profile.js' %}" defer></script> -->
{% endblock %}
{% block content %}

<!-- Side Bar with list of city options -->

<article class="article__cities">
    <section class="section__cities">
        {% for city in cities %}
            <a href="{% url 'cities' user.id city.id %}">
                <h3>{{city.name}}</h3>
            </a>
        {% endfor %}
    </section>
    <section class="section__post-titles">
        <div class="post-card-header">
            <h1>{{city.name}}</h1>
            <img id="img_city-pic" src="{{city.img}}" alt="{{city.name}} Pic">
        </div>
        <div>
            <h4>Posts</h4>

            <!-- Toggles add post modal open -->

            <a href="#" data-toggle="modal" data-target="#createCityModal">Add Post +</a>
        </div>

        <!-- Lists all posts with personalized update Modal -->

        {% for post in posts %}
            <!-- <a href="/user/{{ post.id }}/show_post"> -->
            <a href="{% url 'show_post' post.id %}">
                <div class="card bg-light mb-3 post-card">
                    <div class="card-header">
                       <h5 class="card-title">{{ post.title }}</h5>
                    </div>
                    <div class="card-body">
                    <h6 class="card-title">{{ post.city }}</h6>
                    <p class="card-text my-p-class">{{ post.content }}</p>
                    </div>
                    <div class="div__update-btns">
                        <a href="{% url 'del_post' post.id %}">
                            <button id="btn__post-delete" type="button" class="btn btn-outline-dark btn-sm mt-3 mx-1">Delete</button>
                        </a>
                        <a href="#" data-toggle="modal" data-target="#update{{ post.id }}Modal">
                            <button id="btn__post-update" class="btn btn-outline-dark btn-sm mt-3 mx-1">Update</button>
                        </a>
                    </div>
                </div>
            </a>

            <!-- Update Modal -->

            <div class="container" id="updateCity">
                <div class="row">
                    <div class="col-md-12">
                         <div class="modal fade" id="update{{ post.id }}Modal">
                             <div class="modal-dialog show modal-dialog-centered">
                                 <div class="modal-content">
                                     <div class="modal-header">
                                         <h1>Update post</h1>
                                     </div>
                                     <form action="{% url 'edit_post' post.id %}" method="POST">
                                        <div class="modal-body">
                                            {% csrf_token %}
                                                <input type="text" name="title" id="title" value='{{ post.title }}'>
                                                <textarea name="content" id="content" cols="30" rows="10">{{ post.content }}</textarea>
                                                <input type="hidden" name="author" id = "author" value="{{ post.author }}">
                                                <input type="hidden" name="city" value="{{ city.id }}">
                                                <input type="hidden" name="user" value="{{ user.id }}">
                                        </div>
                                        <div class="modal-footer">
                                            <input class='btn' type="submit" value="Submit">
                                        </div>
                                    </form>
                                 </div>
                             </div>
                         </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </section>
</article>


 <!-- Create New Post Modal -->
 
 <div class="container" id="createCity">
    <div class="row">
        <div class="col-md-12">
             <div class="modal fade" id="createCityModal">
                 <div class="modal-dialog show modal-dialog-centered modal-lg">
                     <div class="modal-content d-flex align-items-center">
                         <div class="modal-header">
                             <h1>Create a new post</h1>
                         </div>
                         <form action="{% url 'add_post' %}" method="POST">
                            <div class="modal-body">
                                {% csrf_token %}
                                 {{ postForm.as_table }}
                                 <input type="hidden" id="userId" name="userId" value="{{ user.id }}">
                                 <input type="hidden" id="cityId" name="cityId" value="{{ city.id }}">
                            </div>
                            <div class="modal-footer">
                                <input class='btn' type="submit" value="Submit">
                            </div>
                        </form>
                     </div>
                 </div>
             </div>
        </div>
    </div>
</div>
{% endblock %}