{% extends 'base.html' %}

{% block content %}
    <article class="article__user">
        <section class="section__profile">
            <img class="profile-img mt-3" src="{{user.imageURL}}" alt="profile pic">
            <p id="user-name">{{ user.name }}</p>
            <p>{{ user.city }}</p>
            <p>{{ user.joined_on }}</p>
            <button id="btn__show-update" type="button" class="btn btn-outline-dark btn-sm mt-3">Change</button>
            <div id="update-form" class="update-form mt-5">
                <form action="" method="post">
                    <table>
                        {% csrf_token %}
                        {{form.as_table}}
                    </table>
                    <button id="btn__user-update" type="submit" class="btn btn-outline-dark btn-sm mt-3">Update</button>
                    <button id="btn__cancel-update" type="button" class="btn btn-outline-dark btn-sm mt-3">Cancel</button>
                </form>
            </div>
        </section>
        <section class="section__post-titles">
            
        </section>
    </article>
{% endblock %}