{% extends 'base.html' %}

{% block content %}
    <article class="article__user">
        <section class="section__profile">

        </section>
        <section class="section__post-titles">

        </section>
    </article>
    <!-- <div class="container m-3">
        <div class="row">
            <div id="user-profile" class="col d-flex flex-column align-items-center">
                <img class="profile-img mt-2" src="{{user.imageURL}}" alt="profile pic">
                <p id="user-name">{{ user.name }}</p>
                <p>{{ user.city }}</p>
                <p>{{ user.joined_on }}</p>
                <button type="button" class="btn btn-outline-dark btn-sm mt-3">Change</button>
                <div class="update-profile" hidden>
                    <form action="" method="post">
                        {{form.as_p}}
                    </form>
                </div>
            </div>
            <div class="col">
                Some more words. 
            </div>
        </div>
    </div> -->

{% endblock %}