{% extends 'base.html' %}
{% load static %}
{% block sylesheets %}
    <link rel="stylesheet" href="{% static 'styles/show_post.css' %}">
{% endblock %}
{% block content %}
<section id="section__post-content">
    <div class="card bg-light mb-3 post-card">
        <div class="card-header">{{ post.title }}</div>
        <div class="card-body">
            <h5 class="card-title">{{ post.author }}, {{ post.city }}</h5>
            <p class="card-text">{{ post.content }}</p>
            <!-- Button HTML (to Trigger Modal) -->
            <div class="delete-trigger">
                <a href="#deleteModal" class="trigger-btn" data-toggle="modal">Click to delete post.</a>
            </div>
        </div>
        <div id="div__btn-back">
            <button class="btn btn-outline-dark btn-sm mt-3 mx-1" id="btn-back" onclick="history.back()">Back</button>
        </div>
    </div>
</section>
{% endblock %}
