.article__cities {
    display: flex;
}

.section__cities {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    min-width: 250px;
    height: 150vh;
    background-color: lightgray;
}

.city-btn {
    width: 230px;
    height: 75px;
    border-radius: 15px;
    font-weight: 450;
    font-size: 20px;
    text-align: left;
    margin: 0 4px 16px 4px;
    background-color: #F0F1F2;
}

.img_city-thumb {
    height: 35px;
    width: 35px;
    border: 1px solid white;
    box-shadow: 1px 1px 2px 2px grey;
    margin-right: 5px;
}

.card-header {
    display: flex;
    justify-content: space-between;
}

.card-header p {
    font-size: 12px;
    margin: 0;
    padding: 0;
    align-self: flex-end;
    justify-self: flex-end;
}

#add-icon {
    color: lightgrey;
}

#add-icon:hover {
    color: red;
}

#div_add-post {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

#div__h4-cities {
    display: flex;
    /* justify-content: flex-start; */
    min-width: 230px;
}
#h4__cities {
    margin: 20px 0 10px 15px;
}

#img_city-pic {
    height: 125px;
    width: 250px;
}

.section__post-titles {
    width:60%;
    height: 100vh;
    padding-left: 20px;
}

.card__city-author {
    display: flex;
    justify-content: space-between;
}

.div__update-btns {
    display: flex;
    justify-content: flex-end;
    margin: 0 5px 8px 0;
}

.card-body {
    padding-bottom: 0;
}

/* sets properties so only 25 characters are shown on post, hides the rest */
.my-p-class {
    color: rgba(0,0,0,.6);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 25ch;
}

.post-card-header {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.sort-controls {
    display: flex;
    align-items: flex-end;
}


#title, #id_title, #content, #id_content {
    width: 300px;
}

#content, #id_content {
    padding-left: 3px;
    margin-left: 2px;
    border-radius: 5px;
    outline-color: #7C8A99;
    border: none;
    background-color: lightgray;
    resize: none;
}

/* .sort-controls {
    display: flex;
    align-items: flex-end;
}

#sort-desc:hover, #sort-asc:hover {
    cursor: pointer;
} */

