* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body a {
    color: black;
}


.carousel-item, .active {
    height: 500px;

p {
    margin: 0;
    padding: 0;

}

.container {
    display: flex;
    justify-content: space-between;
}

span.helptext {
    font-size: small;
    display: block;
}

table label {
    display: flex;
    
}