.p__user-profile {
    margin: 0;
    padding: 0;
}

label {
    margin: 0;
}

.article__user {
    display: flex;
}

.section__profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    min-width: 250px;
    height: 100vh;
    background-color: lightgray;
}

.section__post-titles {
    width:60%;
    height: 100vh;
    padding-left: 20px;
}

.profile-img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.div__update-btns {
    display: flex;
    justify-content: center;
}

.my-p-class {
    color: rgba(0,0,0,.6);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 25ch;
}

.post-card-header {
    display: flex;
    justify-content: space-between;
}

.sort-controls {
    display: flex;
    align-items: flex-end;
}

#user-name {
    font-size: x-large;
    font-weight: bold;
}

#user-city {
    font-weight: bold;
}

#member-since {
    font-size: xx-small;
    margin-top: 5px;
}

#id_name, #id_city {
    width: 175px;
    height: 24px;
    padding-left: 3px;
    margin-left: 2px;
    border-radius: 5px;
    border: none;
    background-color: white;
    outline-color: #7C8A99;
}

#sort-desc:hover, #sort-asc:hover {
    cursor: pointer;
}