.card {
    max-width: 80%;
}

#section__post-content {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 20px auto;
}

#btn-back {
    margin-bottom: 5px;
    width: 60px;
}

#div__btn-back {
    display: flex;
    justify-content: flex-end;
}
