{% extends 'base.html' %}

{% block content %}
<section class="t">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div id="img-one" class="carousel-item active">
                <!-- <img src="https://images.unsplash.com/photo-1581869141724-449a7c9e2b9a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2378&q=80" class="d-block w-100" alt="..."> -->
            </div>
            <div id="img-two" class="carousel-item">
                <!-- <img src="https://images.unsplash.com/photo-1579027989536-b7b1f875659b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" class="d-block w-100" alt="..."> -->
            </div>
            <div id="img-three" class="carousel-item">
                <!-- <img src="https://images.unsplash.com/photo-1565018996595-4cce5ab241cb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1949&q=80" class="d-block w-100" alt="..."> -->
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        </div>
    </div>
</section>
<div class="row">
    <div class="col-12 d-flex justify-content-center my-2">
        <h1>Wayfarer is...</h1>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm m-4">
            <h2>Topic</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum provident facilis debitis perspiciatis sequi consequatur rerum sapiente. Quisquam doloribus fugit recusandae ducimus quis, aperiam excepturi pariatur aliquam impedit facere? Maxime.</p>
        </div>
        <div class="col-sm m-4">
            <h2>Topic</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum provident facilis debitis perspiciatis sequi consequatur rerum sapiente. Quisquam doloribus fugit recusandae ducimus quis, aperiam excepturi pariatur aliquam impedit facere? Maxime.</p>
        </div>
        <div class="col-sm m-4">
            <h2>Topic</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum provident facilis debitis perspiciatis sequi consequatur rerum sapiente. Quisquam doloribus fugit recusandae ducimus quis, aperiam excepturi pariatur aliquam impedit facere? Maxime.</p>
        </div>
    </div>
</div>

{% endblock %}